# Data preparation

## Library import

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.pipeline import Pipeline

## Parameter definition

In [1]:
RAW_DATA = '../data/raw/' 
EXTERNAL_DATA = '../data/external/' 
INTERIM_DATA = '../data/interim/' 
PROCESSED_DATA = '../data/processed/'
REFERENCES = '../references/'
RANDOM_STATE = 14

## Read data

In [3]:
df = pd.read_parquet(INTERIM_DATA + 'train.pqt')
df.head()

,Category,Descript,DayOfWeek,PdDistrict,Resolution,Address,X,Y,month,day,year,hour
0,WARRANTS,WARRANT ARREST,Wednesday,NORTHERN,"ARREST, BOOKED",OAK ST / LAGUNA ST,-122.425892,37.774599,5,13,2015,23
1,OTHER OFFENSES,TRAFFIC VIOLATION ARREST,Wednesday,NORTHERN,"ARREST, BOOKED",OAK ST / LAGUNA ST,-122.425892,37.774599,5,13,2015,23
2,OTHER OFFENSES,TRAFFIC VIOLATION ARREST,Wednesday,NORTHERN,"ARREST, BOOKED",VANNESS AV / GREENWICH ST,-122.424363,37.800414,5,13,2015,23
3,LARCENY/THEFT,GRAND THEFT FROM LOCKED AUTO,Wednesday,NORTHERN,NONE,1500 Block of LOMBARD ST,-122.426995,37.800873,5,13,2015,23
4,LARCENY/THEFT,GRAND THEFT FROM LOCKED AUTO,Wednesday,PARK,NONE,100 Block of BRODERICK ST,-122.438738,37.771541,5,13,2015,23

## Second attempt

In [ ]:
df['Weekend'] = np.where((df['DayOfWeek']=='Sunday')|(df['DayOfWeek']=='Saturday'), 1, 0)
df.head(100)

In [ ]:
#Creating morning, afternoon, night and dawn
condlist = [df['hour']<6, df['hour']<12, df['hour']<18]
choicelist = ['dawn', 'morning', 'afternoon']
df['day_period'] = np.select(condlist, choicelist, 'night')
df['day_period'].value_counts()

In [ ]:
df_outliers = df.copy()
outliers = (df['X'] > -122.35)|(df['Y'] > 37.82)
df_outliers.loc[outliers, ['X', 'Y']] = np.nan
#df.info()
outliers.value_counts()

In [ ]:
df_outliers.query('X>-122')